In [1]:
import pandas as pd

In [2]:
Google=pd.read_csv('C:\\Users\\User\\KUGLE\\googleplaystore.csv')

In [3]:
print(Google)

                                                     App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating Reviews                Size     Installs  Type Price  \
0         4.1     159                 19M      10,000+  Free     0
1         3.9     967                 14M     500,000+  Free     0
2         4.7   87510                8.7M   5,000,000+  Free     0
3         4.5  215644                 25M  50,000,000+  Free     0
4         4.3     967                2.8M     100,000+  Free     0
...       ...     ...                 ...          ...   ...   ...
10836     4.5      38                 53M       5,000+  Free     0
10837     5.0       4                3.6M         100+  Free     0
10838     NaN       3                9.5M       1,000+  Free     0
10839     4.5     114  Varies with device       1,000+  Free     0
10840     4.5  398307                 19M  10,000,000+  Free     0

      Content Rating                     Genres      Last Updated  \
0           Everyone               Art & Design   January 7, 2018
1           Everyone  Art & Design;Pretend Play  January 15, 2018
2           Everyone               Art & Design    August 1, 2018
3               Teen               Art & Design      June 8, 2018
4           Everyone    Art & Design;Creativity     June 20, 2018
...              ...                        ...               ...
10836       Everyone                  Education     July 25, 2017
10837       Everyone                  Education      July 6, 2018
10838       Everyone                    Medical  January 20, 2017
10839     Mature 17+          Books & Reference  January 19, 2015
10840       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                   1.2.4        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10836                1.48          4.1 and up
10837                 1.0          4.1 and up
10838                 1.0          2.2 and up
10839  Varies with device  Varies with device
10840  Varies with device  Varies with device

[10841 rows x 13 columns]

In [4]:
Google=pd.read_csv('C:\\Users\\User\\KUGLE\\googleplaystore.csv')

In [5]:
Google.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [6]:
Apple=pd.read_csv('C:\\Users\\User\\KUGLE\\AppleStore.csv')

In [7]:
Apple.head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [8]:
Google=pd.DataFrame(Google.copy(), columns=['Category', 'Rating', 'Reviews', 'Price'])

In [9]:
Google

                  Category  Rating Reviews Price
0           ART_AND_DESIGN     4.1     159     0
1           ART_AND_DESIGN     3.9     967     0
2           ART_AND_DESIGN     4.7   87510     0
3           ART_AND_DESIGN     4.5  215644     0
4           ART_AND_DESIGN     4.3     967     0
...                    ...     ...     ...   ...
10836               FAMILY     4.5      38     0
10837               FAMILY     5.0       4     0
10838              MEDICAL     NaN       3     0
10839  BOOKS_AND_REFERENCE     4.5     114     0
10840            LIFESTYLE     4.5  398307     0

[10841 rows x 4 columns]

In [10]:
Apple=pd.DataFrame(Apple, columns=['prime_genre', 'user_rating', 'rating_count_tot', 'price'])

In [11]:
Apple

       prime_genre  user_rating  rating_count_tot  price
0            Games          4.0             21292   3.99
1     Productivity          4.0            161065   0.00
2          Weather          3.5            188583   0.00
3         Shopping          4.0            262241   0.00
4        Reference          4.5            985920   0.00
...            ...          ...               ...    ...
7192         Games          4.5               142   0.00
7193         Games          4.5                30   0.00
7194     Utilities          4.5                15   1.99
7195         Games          4.5                85   0.00
7196         Games          5.0                 3   0.00

[7197 rows x 4 columns]

In [12]:
Google['Category']

0             ART_AND_DESIGN
1             ART_AND_DESIGN
2             ART_AND_DESIGN
3             ART_AND_DESIGN
4             ART_AND_DESIGN
                ...
10836                 FAMILY
10837                 FAMILY
10838                MEDICAL
10839    BOOKS_AND_REFERENCE
10840              LIFESTYLE
Name: Category, Length: 10841, dtype: object

In [13]:
Google['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10836    4.5
10837    5.0
10838    NaN
10839    4.5
10840    4.5
Name: Rating, Length: 10841, dtype: float64

In [14]:
Google['Reviews']

0           159
1           967
2         87510
3        215644
4           967
          ...
10836        38
10837         4
10838         3
10839       114
10840    398307
Name: Reviews, Length: 10841, dtype: object

In [15]:
Google['Price']

0        0
1        0
2        0
3        0
4        0
        ..
10836    0
10837    0
10838    0
10839    0
10840    0
Name: Price, Length: 10841, dtype: object

In [16]:
Apple['prime_genre']

0              Games
1       Productivity
2            Weather
3           Shopping
4          Reference
            ...
7192           Games
7193           Games
7194       Utilities
7195           Games
7196           Games
Name: prime_genre, Length: 7197, dtype: object

In [17]:
Apple['user_rating']

0       4.0
1       4.0
2       3.5
3       4.0
4       4.5
       ...
7192    4.5
7193    4.5
7194    4.5
7195    4.5
7196    5.0
Name: user_rating, Length: 7197, dtype: float64

In [18]:
Apple['rating_count_tot']

0        21292
1       161065
2       188583
3       262241
4       985920
         ...
7192       142
7193        30
7194        15
7195        85
7196         3
Name: rating_count_tot, Length: 7197, dtype: int64

In [19]:
Apple['price']

0       3.99
1       0.00
2       0.00
3       0.00
4       0.00
        ...
7192    0.00
7193    0.00
7194    1.99
7195    0.00
7196    0.00
Name: price, Length: 7197, dtype: float64

For Apple Price should not be object and Content_Rating should not be float. For Google Price should not be object and Reviews also should not be object.

In [20]:
Apple['price'].unique()

array([  3.99,   0.  ,   0.99,   9.99,   4.99,   7.99,   2.99,   1.99,
         5.99,  12.99,  21.99, 249.99,   6.99,  74.99,  19.99,   8.99,
        24.99,  13.99,  14.99,  16.99,  47.99,  11.99,  59.99,  15.99,
        27.99,  17.99, 299.99,  49.99,  23.99,  20.99,  39.99,  99.99,
        29.99,  34.99,  18.99,  22.99])

In [21]:
Google['Reviews'].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [22]:
Google['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In [23]:
Apple['user_rating'].unique()

array([4. , 3.5, 4.5, 5. , 3. , 2. , 2.5, 0. , 1.5, 1. ])

Check which data points have the value 'Everyone' for the 'Price' column. We want to pick out the rows whose value for the 'Price' column is just 'Everyone'. I am going to eliminate that row.

In [24]:
Google[Google['Price']=='Everyone']

      Category  Rating Reviews     Price
10472      1.9    19.0    3.0M  Everyone

In [25]:
Google[Google['Price']!='Everyone']

                  Category  Rating Reviews Price
0           ART_AND_DESIGN     4.1     159     0
1           ART_AND_DESIGN     3.9     967     0
2           ART_AND_DESIGN     4.7   87510     0
3           ART_AND_DESIGN     4.5  215644     0
4           ART_AND_DESIGN     4.3     967     0
...                    ...     ...     ...   ...
10836               FAMILY     4.5      38     0
10837               FAMILY     5.0       4     0
10838              MEDICAL     NaN       3     0
10839  BOOKS_AND_REFERENCE     4.5     114     0
10840            LIFESTYLE     4.5  398307     0

[10840 rows x 4 columns]

In [26]:
Google['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

Make the values in the nosymb variable numeric. Then assign this new set of numeric, dollar-sign-less values to Google['Price'].

In [27]:
Google=Google[Google['Price']!='Everyone'].copy()

In [28]:
Google['Price']=Google['Price'].str.replace('$','',regex=False).astype(float)

In [29]:
Google['Price'].unique()

array([  0.  ,   4.99,   3.99,   6.99,   1.49,   2.99,   7.99,   5.99,
         3.49,   1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,
        24.99,  11.99,  79.99,  16.99,  14.99,   1.  ,  29.99,  12.99,
         2.49,  10.99,   1.5 ,  19.99,  15.99,  33.99,  74.99,  39.99,
         3.95,   4.49,   1.7 ,   8.99,   2.  ,   3.88,  25.99, 399.99,
        17.99, 400.  ,   3.02,   1.76,   4.84,   4.77,   1.61,   2.5 ,
         1.59,   6.49,   1.29,   5.  ,  13.99, 299.99, 379.99,  37.99,
        18.99, 389.99,  19.9 ,   8.49,   1.75,  14.  ,   4.85,  46.99,
       109.99, 154.99,   3.08,   2.59,   4.8 ,   1.96,  19.4 ,   3.9 ,
         4.59,  15.46,   3.04,   4.29,   2.6 ,   3.28,   4.6 ,  28.99,
         2.95,   2.9 ,   1.97, 200.  ,  89.99,   2.56,  30.99,   3.61,
       394.99,   1.26,   1.2 ,   1.04])

In [30]:
Google['Price'].dtype

dtype('float64')

In [31]:
Google['Reviews'].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [32]:
Google['Reviews']=pd.to_numeric(Google['Reviews'])

In [33]:
Apple['platform']='apple'

In [34]:
Google['Platform']='google'

In [35]:
old_names=Apple.columns

In [36]:
new_names=['Category', 'Rating', 'Reviews', 'Price']

In [37]:
Apple.rename(columns={'prime_genre':'Category','user_rating':'Rating', 'rating_count_tot': 'Reviews', 'price': 'Price', 'platform': 'Platform' })

          Category  Rating  Reviews  Price Platform
0            Games     4.0    21292   3.99    apple
1     Productivity     4.0   161065   0.00    apple
2          Weather     3.5   188583   0.00    apple
3         Shopping     4.0   262241   0.00    apple
4        Reference     4.5   985920   0.00    apple
...            ...     ...      ...    ...      ...
7192         Games     4.5      142   0.00    apple
7193         Games     4.5       30   0.00    apple
7194     Utilities     4.5       15   1.99    apple
7195         Games     4.5       85   0.00    apple
7196         Games     5.0        3   0.00    apple

[7197 rows x 5 columns]

In [38]:
df1=pd.DataFrame(Google, columns=['Category','Rating', 'Reviews', 'Price', 'Platform'])

In [39]:
Google.head()

         Category  Rating  Reviews  Price Platform
0  ART_AND_DESIGN     4.1      159    0.0   google
1  ART_AND_DESIGN     3.9      967    0.0   google
2  ART_AND_DESIGN     4.7    87510    0.0   google
3  ART_AND_DESIGN     4.5   215644    0.0   google
4  ART_AND_DESIGN     4.3      967    0.0   google

In [40]:
df2=pd.DataFrame(Apple, columns=['Category','Rating', 'Reviews', 'Price', 'Platform'])

In [41]:
Apple.head()

    prime_genre  user_rating  rating_count_tot  price platform
0         Games          4.0             21292   3.99    apple
1  Productivity          4.0            161065   0.00    apple
2       Weather          3.5            188583   0.00    apple
3      Shopping          4.0            262241   0.00    apple
4     Reference          4.5            985920   0.00    apple

In [42]:
df=pd.concat([df1,df2], ignore_index=True)

In [48]:
df.sample(12)

                  Category  Rating   Reviews  Price Platform
11276                  NaN     NaN       NaN    NaN      NaN
12162                  NaN     NaN       NaN    NaN      NaN
8678                FAMILY     4.3    1922.0    0.0   google
6435               MEDICAL     NaN       1.0    0.0   google
15247                  NaN     NaN       NaN    NaN      NaN
13231                  NaN     NaN       NaN    NaN      NaN
4069                SPORTS     4.2  521081.0    0.0   google
15012                  NaN     NaN       NaN    NaN      NaN
4011             LIFESTYLE     4.7     707.0    0.0   google
9457                  GAME     4.4    6735.0    0.0   google
4066                FAMILY     3.1     740.0    0.0   google
3863   MAPS_AND_NAVIGATION     3.7    6939.0    0.0   google

In [49]:
df.shape

(18037, 5)

In [50]:
print(df.shape)

(18037, 5)

In [51]:
df.dropna()

                  Category  Rating   Reviews  Price Platform
0           ART_AND_DESIGN     4.1     159.0    0.0   google
1           ART_AND_DESIGN     3.9     967.0    0.0   google
2           ART_AND_DESIGN     4.7   87510.0    0.0   google
3           ART_AND_DESIGN     4.5  215644.0    0.0   google
4           ART_AND_DESIGN     4.3     967.0    0.0   google
...                    ...     ...       ...    ...      ...
10833               FAMILY     4.0       7.0    0.0   google
10835               FAMILY     4.5      38.0    0.0   google
10836               FAMILY     5.0       4.0    0.0   google
10838  BOOKS_AND_REFERENCE     4.5     114.0    0.0   google
10839            LIFESTYLE     4.5  398307.0    0.0   google

[9366 rows x 5 columns]

In [52]:
print(df.dropna())

                  Category  Rating   Reviews  Price Platform
0           ART_AND_DESIGN     4.1     159.0    0.0   google
1           ART_AND_DESIGN     3.9     967.0    0.0   google
2           ART_AND_DESIGN     4.7   87510.0    0.0   google
3           ART_AND_DESIGN     4.5  215644.0    0.0   google
4           ART_AND_DESIGN     4.3     967.0    0.0   google
...                    ...     ...       ...    ...      ...
10833               FAMILY     4.0       7.0    0.0   google
10835               FAMILY     4.5      38.0    0.0   google
10836               FAMILY     5.0       4.0    0.0   google
10838  BOOKS_AND_REFERENCE     4.5     114.0    0.0   google
10839            LIFESTYLE     4.5  398307.0    0.0   google

[9366 rows x 5 columns]